@media (max-width: 1199.98px) { 
  .wrapper {
    width: 880px;
  }

  .top-panel {
    height: 110px;
  }

  .top-panel .logo {
    margin-top: 10px;
  }

  .top-panel .callback {
    display: inline-block;
    margin-left: 180px;
    margin-top: 5px;
    float: none;
  }

  #select [class*="item"] .icon {
    scale: 0.7;
  }

  #select [class*="item"] {
    margin: 10px 5px;
  }
}