	/*------ Headers  ------*/
	h1 {font: 500 90px/90px DinText; color: #e74c3c; text-transform: uppercase; margin-bottom: 15px;}

	/*------ Buttons  ------*/
	.button {background: #ff0000;}
		.button:hover {background: #da0000;}
		.button:active {top: 1px;}

/**************** HEADER *****************/

header {height: 865px; background: url(../images/header_bg.jpg) right 0px no-repeat; background-size: cover;}
header .wrapper {padding: 100px 0 0 350px;}
header .wrapper h1{font-size: 60px; line-height: 70px; color: #313149;}
	header .callback {color: #e74c3c;}
		header .callback a {}
			header .callback a:hover {color: #e63826;}
			header .callback a:active {color: #f00;}
	header p {font: 600 21px/28px 'Open Sans'; color: #e74c3c; text-align: center; text-transform: uppercase;color: #313149; margin:20px 0 10px 0;}
	header .button {margin: 105px auto 0;}
	header .insurance{text-align: center; margin:20px 0 0 0;}
	header .insurance span{font-size: 15px; color: #313149; text-transform: uppercase; display: inline-block; vertical-align: middle;color: #313149; margin-right: 20px;}
	header .insurance img{display: inline-block; vertical-align: middle;}


/**************** STATISTICS *****************/

/* #statistics {height: 218px; background: #313149; }
#statistics .wrapper {padding: 60px 200px;}
	#statistics [class*="item"] {width: 255px; font: 48px/52px DinText; color: #e74c3c; text-align: center; text-transform: uppercase; float: left; margin: 0 35px;}
		#statistics [class*="item"] b {display: block; font: 500 100px/60px DinText;} */

/**************** SELECT *****************/

#select {height: 794px;}
#select .wrapper {padding: 60px 0 0; width: 1200px; text-align: center;}
	#select h2 {color: #e74c3c; margin-bottom: 0;}
	#select [class*="item"] {display: inline-block; width: 190px;  margin: 45px 20px; font: 30px/34px DinText; color: #e74c3c; text-align: center; text-transform: uppercase; vertical-align: top;}
	#select [class*="item"]:hover {color: #e74c3c;}
		#select [class*="item"] .icon {height: 162px; width: 185px; margin: 0 auto 16px; background: url(../images/index_icons.png) -9999px 0 no-repeat; -webkit-transform: translateZ(0); transform: translateZ(0);}
		#select [class*="item"]:hover .icon {-webkit-animation: buzz 0.15s linear infinite; animation: buzz 0.15s linear infinite;}
			#select .item-1 .icon {background-position: 0 0;}
			#select .item-2 .icon {background-position: -187px 0;}
			#select .item-3 .icon {background-position: -374px 0;}
			#select .item-4 .icon {background-position: -561px 0;}
			#select .item-5 .icon {background-position: -748px 0;}
			#select .item-6 .icon {background-position: 0 -165px;}
			#select .item-7 .icon {background-position: -187px -165px;}
			#select .item-8 .icon {background-position: -374px -165px;}
			#select .item-9 .icon {background-position: -561px -165px;}
			#select .item-10 .icon {background-position: -748px -165px;}


/**************** INSURANCE *****************/

#insurance {height: 960px; background: url(../images/insurance_bg.jpg) center center no-repeat fixed;  background-size:cover;}
#insurance .wrapper {padding: 30px 0 0;}
	#insurance h2 {color: #fff;text-shadow: 1px 3px 3px rgb(23, 23, 23), 0 0 1em rgb(31, 31, 31); }
	#insurance h3 {
		font-size: 32px;
		text-transform: none;
		font-family: 'Open Sans';
	}
	#insurance img {
		margin-left: 25px;
		margin-top: 25px;
	}
	#insurance-bg {
		width: 800px;margin: 0 auto;margin-top: 40px;border-radius: 8px;
  	height: 670px; background-color: rgba(40, 39, 39, 0.46);
	}
  #insurance-bg p {
		padding-left: 90px;
		line-height: 1.15;
		color: white;
		font-size: 23px;
		padding-right: 30px;
  	text-shadow: 0.5px 0.866px 2px rgba(0, 0, 0, 0.75);
	}

#insurance-bg .first-p-insurane {
	padding-top: 40px;
}