/**************** HEADER *****************/

header {height: 700px; position: relative;}
header .wrapper {padding: 100px 0 0 0px;}

header.category-1{background:#202020 url(../images/1.jpg) center top no-repeat; position: relative; background-size: cover;}
	header.category-2{background:#202020 url(../images/2.jpg) center top no-repeat; position: relative; background-size: cover;}
	header.category-3{background:#202020 url(../images/3.jpg) center top no-repeat; position: relative; background-size: cover;}
	header.category-4{background:#202020 url(../images/4.jpg) center top no-repeat; position: relative; background-size: cover;}
	header.category-5{background:#202020 url(../images/5.jpg) center top no-repeat; position: relative; background-size: cover;}
	header.category-6{background:#202020 url(../images/6.jpg) center top no-repeat; position: relative; background-size: cover;}
	header.category-7{background:#202020 url(../images/7.jpg) center top no-repeat; position: relative; background-size: cover;}
	header.category-8{background:#202020 url(../images/8.jpg) center top no-repeat; position: relative; background-size: cover;}
	header.category-9{background:#202020 url(../images/9.jpg) center top no-repeat; position: relative; background-size: cover;}
	header.category-10{background:#202020 url(../images/10.jpg) center top no-repeat; position: relative; background-size: cover;}
	header:before{position: absolute; width:100%; height:100%; left: 0; top: 0; content: ''; background-color: rgba(0,0,0, 0.4); }